.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #ee7724;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 14px #b44593;
    
  }
  .main-nav{
    display: flex;
    justify-content: space-between;
  }
  .main-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

  }
 
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-link-button {
    background-color: #ff5555;
    border: 2px double  #fbfbfb;
    box-shadow: 2px 2px 8px white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
  }

  #margin-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-link-button:hover {
    background-color: #ddd;
  }
  
  .signout-button {
    background-color: #ff5555;
    border: 2px solid  #fbfbfb;
    box-shadow: 2px 2px 8px white;
    padding: 5px 10px;
    background-color: #ee7724;
    background-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
  }
  
  .signout-button:hover {
    background-color: #ff3333;
  }
  
  @media only screen and (max-width: 600px) {
    .nav-links {
      flex-wrap: wrap;
      justify-content: flex-start;
      font-size: 5px;

    }
    .home-container{
        padding: 0;
        font-size: 5px;
    }
    
    .home-container nav ul li button {
        font-size: 8px;
        width: fit-content;
        padding: 4px;
    }
    
    
    .nav-links li {
      margin: 5px;
    }
    .signout-button{
      font: 2em sans-serif;
      align-self: center;
    }
#minmise{
  font-size: 6px;
  width: 100%;
}
  }
  