nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);


  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .nav-links1 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
  .nav-links1 li {
    font-size: 14px;
    padding: 4px;
    border-radius: 5px ;
    border: 2px solid  #ffffff;
    box-shadow: 2px 2px 8px white;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .nav-links1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
   
  }
  
  .nav-links1 a:hover {
    color: #ffffff;

  }
  .nav-links1 li:hover {
    border: 2px solid  #ffffff;
    box-shadow: 4px 4px 12px white;

  }
  
  
  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: row;
      align-items: flex-start;
      padding: 10px;
    }
  
    .nav-links1 {
   
      align-items: center;
    }
  
    .nav-links1 li {
      font-size: 10px;
      margin-left: -10px;
    }
  }
  