nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .nav-links1 {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
  .nav-links1 li {
    font-size: 18px;
    width: fit-content;
    padding: 2px;
  }
  
  .nav-links1 a {
    text-decoration: none;
    color: #333;
    box-shadow: 2px 2px  2px rgb(250, 114, 155);
  }
  
  .nav-links1 a:hover {
    color: #ee7724;
  }
  
  
  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: row;
      align-items: flex-start;
      padding: 10px;
    }
  
    .nav-links1 {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav-links1 li {
      font-size: 16px;
    }
  }
  