.place-order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-heading {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #ee7724;
    background-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .food-select,
  .input {
    width: 50%; /* Adjust the width as per your preference */
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 50%; /* Adjust the width as per your preference */
  }
  
  .selected-foods {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .selected-food {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border: 2px dotted #b44593;
  }
  
  .selected-food button {
    background: none;
    border: none;
    color: #ee7724;
    cursor: pointer;
  }
  
  .selected-food button:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-image {
    width: 100%;
    max-width: 185px;
    margin-bottom: 0px;
  }
  
  .form p {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .form-label input {
    margin-top: 5px;
  }
  
  .form-label span {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-label input:disabled {
    background-color: #f2f2f2;
  }
  
  .form label {
    width: 100%;
  }
  
  .form .button {
    margin-top: 10px;
  }
  
  .form button:hover {
    text-decoration: underline;
  }
  
  .form label input[type='number']::-webkit-inner-spin-button,
  .form label input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .form label input[type='number'] {
    -moz-appearance: textfield;
  }
.food-select-flex{
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-around;

}  
.food-select-flex button{
  
  margin-left: 30px;
  height: 45px;
  width: 80px;
}
.food-select-flex select{
  
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 200px;
  }