.signup-container {
    display: flex;
    justify-content: center;
    
    background: #fdfdfd;
   
  }
  
  .signup-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px;
    background-color: #fff;
    border-left: 2px solid #b44593;
    border-right: 2px solid #b44593;
    box-shadow: 2px 2px 10px #b44593;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    justify-content: center;
    height: fit-content;
  }
  .text-center{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ee7724;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 4px 4px 8px #b44593;
    display: flex;
  justify-content: center;
  }
  .signup-heading {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #ee7724;
    background-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font: 1em sans-serif;
  }
  
  .Already {
    text-decoration: none;
    color: #ef7b28;
    margin-top: 20px;
    font: 1em sans-serif;
    justify-content: center;
  }
  .haveAcc{
    display: flex;
    justify-content: center;
  }
  .Already:hover {
    color: #b44593;
    cursor: pointer;
  }
  .signup-image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  .signup-logo {
    width: 185px;
  }
  